/***** BASE STYLES *****/

nav, header, body {
    background-color: #000;
    color: #fff;
    padding: auto;
    margin: auto;
}

nav,  #about {
    width: 1400px;

}

nav {
    height: 15px;
}

#banner {
   height:725px;
}


body {
    width: 1200px; 
    position: relative;
    font-family: sans-serif;

}

#work {
    height: 1550px; 
}

#about {
    height: 550px;
}

#contact {
    height: 400px;
    text-align: center;
}

nav, h1, h2 {
    font-family: 'Special Elite', cursive;
    text-transform: lowercase;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    text-align: center;
    padding: 20px 0px; 
}

/***** GRID *****/


.half-full-width {
    width: 700px;
}

.full-width {
    width: 1200px;  
}

.half-width {
    width: 600px;
    height: 350px;
    display: inline-block;
    float: left; 
}

.third-width {
    width: 400px;
    float: left;
}


/***** NAV *****/


nav ul li {
    float: right;
    display: inline-block;
    padding-left: 20px;
}

/***** HEADER *****/

header h1 {
    width: 600px;
    padding: 300px 100px;
}


/***** WORK *****/

.box {
 
}

/***** ABOUT *****/

#about {
    background-image: url(../img/about-panda.png)
}
