/***** BASE STYLES *****/

body {
    margin: 0px 100px;
    background-color: #000;
    color: #fff;
}

nav, h1, h2 {
    font-family: 'Special Elite', cursive;
    text-transform: lowercase;
}

/***** GRID *****/

.full-full-width {
    width: 1400px;
}

.full-width {
    width: 1200px;  
}

.half-width {
    width: 600px;
    height: 350px;
    float: left; 
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

nav ul li{
    float: right;
    display: inline-block;
    padding-right: 45px;
}


